.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: rgb(248, 244, 239);
  height: 130px;
  position: fixed;
  top: 0;

  .logo-container {
    width: 20%;
    .logo {
      width: 130px;
      border-radius: 50%;
    }
  }

  h1 {
    font-size: 75px;
    color: rgb(65, 15, 15);
  }

  .navLink-container {
    display: flex;
    justify-content: space-between;
    width: 20%;

    a {
      text-decoration: none;
      color: rgb(65, 15, 15);
    }

    .selected {
      color: rgb(182, 96, 96);
    }
  }
}
