.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  overflow: auto;
  position: absolute;
  top: 150px;
  bottom: 75px;
  left: 0px;
  right: 0px;
  background-color: rgb(129, 59, 59);
  .banner {
    img {
      // width: 80vw;
      height: 80vh;
    }
  }
  .cards-container {
    display: flex;
    .filter-card {
      width: 200px;
      height: 250px;
      margin: 20px;
      padding: 20px;
      background-color: rgb(248, 244, 239);
      border-radius: 10px;
      box-shadow: 10px 10px 5px 0px rgba(154, 113, 113, 0.75);

      img {
        width: 100px;
      }
    }
  }
}
